<!-- password_reset_done.html -->

{% extends "core/base.html" %}

{% block title %}Password Reset Done - My Website{% endblock %}

{% block content %}
    <div class="password-reset-done ">

        <h2 class=""> Password Reset Successful!</h2>
        <div class="row d-flex justify-content-center ">
            <p style="font-size: 40px">🎊🥳🎉</p>
        </div>
        <div class="row d-flex justify-content-center ">
            <p> Your password has been changed successfully. </p>
        </div>

        <div class="row d-flex justify-content-center">
            <p>You can now login with your new password.</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p><a href="https://meedgo.com/auth/" class="btn btn-primary">Log in</a></p>
        </div>

    </div>
{% endblock %}
