{% extends 'accounts/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}


    <div class="my-4 row justify-content-center">
        <div class="col-11 col-sm-8">
            <div class="text-center">
                <img src="{% static 'administration/images/logo-simbo.png' %}" class="rounded-circle">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>


            <p>{% trans 'Your password has been changed successfully.' %}</p>

        </div>
    </div>

{% endblock %}
