<!-- password_reset_done.html -->

{% extends "core/base.html" %}

{% block title %}Password Reset Done - My Website{% endblock %}

{% block content %}
    <div class="password-reset-done">
        <h2> Reset Email Sent! ✉️</h2>
        <div class="row d-flex justify-content-center">
            <p>📧 Your password email has been sent successfully. </p>
        </div>

        <div class="row d-flex justify-content-center">
            <p>Please check your email and follow the given instructions. 🔐</p>
        </div>
    </div>
{% endblock %}
