{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>

        {% block title %}
            Admin |
            {% block subtitle %}
                Dashboard
            {% endblock subtitle %}
        {% endblock title %}

    </title>
    <link rel="stylesheet" href="{% static 'administration/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'administration/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'administration/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'administration/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'administration/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'administration/vendors/css/vendor.bundle.base.css' %}">
    {#    <link rel="stylesheet" href="{% static 'administration/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">#}

    <link rel="stylesheet" href="{% static 'administration/js/select.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'administration/css/vertical-layout-light/style.css' %}">
    <link rel="shortcut icon" href="{% static 'administration/img/tasktok-favicon.png' %}"/>
    <style>
        .form-check .form-check-input {
            margin-left: unset;
        }
    </style>
    {% block css %}

    {% endblock %}

</head>
<body>
<div class="container-scroller">

    {# ------------------------------------------------------------------------------------------------------- HEADER #}
    {% include 'administration/include/header.html' %}
    {# -------------------------------------------------------------------------------------------------------------- #}

    <div class="container-fluid page-body-wrapper">

        {# ----------------------------------------------------------------------------------------------- NAVIGATION #}
        {% include 'administration/include/sidebar.html' %}
        {# ---------------------------------------------------------------------------------------------------------- #}

        <div class="main-panel">

            <div class="content-wrapper">

                    {% include 'accounts/messages.html' %}

                    {% block content %}

                    {% endblock content %}

            </div>

            {# ----------------------------------------------------------------------------------------------- FOOTER #}
            {% include 'administration/include/footer.html' %}
            {# ------------------------------------------------------------------------------------------------------ #}

        </div>
    </div>
</div>
<script src="{% static 'administration/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'administration/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'administration/vendors/progressbar.js/progressbar.min.js' %}"></script>

<script src="{% static 'administration/js/off-canvas.js' %}"></script>
<script src="{% static 'administration/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'administration/js/template.js' %}"></script>
<script src="{% static 'administration/js/settings.js' %}"></script>
<script src="{% static 'administration/js/todolist.js' %}"></script>

<script src="{% static 'administration/js/dashboard.js' %}"></script>
<script src="{% static 'administration/js/Chart.roundedBarCharts.js' %}"></script>

{% block js %}
{% endblock js %}

</body>
</html>

{% block js_code %}
{% endblock js_code %}

