{% extends 'administration/base.html' %}

{% block subtitle %}
    Users List
{% endblock %}


{% block css %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">


                    <div class="table-responsive">
                        <table class="table table-borderless">
                            {% if user_list %}
                                <thead class="border-bottom">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Profile</th>
                                    <th>
                                        Status
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for user in user_list %}
                                    <tr>
                                        <td><small>({{ user.username }})</small><br>{{ user.get_full_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <b>Likes:</b> {{ user.likes }}<br>
                                            <b>Likers:</b> {{ user.likers }}<br>
                                            <b>Friends:</b> {{ user.friends }}<br>
                                        </td>

                                        <td>
                                            <b>Active:</b>
                                            {% if user.is_active %}
                                                <i class="mdi mdi-check-circle text-success"></i>

                                            {% else %}
                                                <i class="mdi mdi-close-circle text-danger"></i>
                                            {% endif %}
                                            <br>
                                        <b>Verified:</b>
                                            {% if user.is_identified %}
                                                <i class="mdi mdi-check-circle text-success"></i>

                                            {% else %}
                                                <i class="mdi mdi-close-circle text-danger"></i>
                                            {% endif %}
                                            <br>
                                        <b>Paid:</b>
                                            {% if user.is_paid %}
                                                <i class="mdi mdi-check-circle text-success"></i>

                                            {% else %}
                                                <i class="mdi mdi-close-circle text-danger"></i>
                                            {% endif %}
                                            <br>
                                        </td>

                                        <td>
                                            <a href="{% url 'admins:user-detail' user.pk %}"
                                               class="text-decoration-none"><i
                                                    class="mdi mdi-eye icon-sm"></i></a>
                                            <a href="{% url 'admins:user-update' user.pk %}"
                                               class="text-decoration-none"><i
                                                    class="mdi mdi-account-edit icon-sm"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            {% else %}
                                <th class="text-danger">No users are listed until now</th>
                            {% endif %}
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>
                                            <span><a
                                                    href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                            </li>
                        {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                            </li>
                        {% endif %}
                    </ul>
                {% else %}

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

{% endblock %}


