{% extends 'administration/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block subtitle %}
    Users List
{% endblock %}


{% block css %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="input-group mb-3">
                    {{ user_filter_form }}
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-search"></i> Search
                        </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">


                    <div class="table-responsive">
                        <table class="table table-borderless">
                            {% if user_list %}
                                <thead class="border-bottom">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Profile</th>
                                    <th>
                                        Status
                                    </th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for user in user_list %}
                                    <tr>
                                        <td><small>({{ user.username }})</small><br>{{ user.get_full_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <b>Likes:</b> {{ user.likes }}<br>
                                            <b>Likers:</b> {{ user.likers }}<br>
                                            <b>Friends:</b> {{ user.friends }}<br>
                                        </td>

                                        <td>
                                            <b>Active:</b>
                                            {% if user.is_active %}
                                                <i class="mdi mdi-check-circle text-success"></i>

                                            {% else %}
                                                <i class="mdi mdi-close-circle text-danger"></i>
                                            {% endif %}
                                            <br>
                                        <b>Verified:</b>
                                            {% if user.is_identified %}
                                                <i class="mdi mdi-check-circle text-success"></i>

                                            {% else %}
                                                <i class="mdi mdi-close-circle text-danger"></i>
                                            {% endif %}
                                            <br>
                                        <b>Paid:</b>
                                            {% if user.is_paid %}
                                                <i class="mdi mdi-check-circle text-success"></i>

                                            {% else %}
                                                <i class="mdi mdi-close-circle text-danger"></i>
                                            {% endif %}
                                            <br>
                                        </td>

                                        <td>
                                            <a href="{% url 'admins:user-detail' user.pk %}"
                                               class="text-decoration-none"><i
                                                    class="mdi mdi-eye icon-sm"></i></a>
                                            <a href="{% url 'admins:user-update' user.pk %}"
                                               class="text-decoration-none"><i
                                                    class="mdi mdi-account-edit icon-sm"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            {% else %}
                                <th class="text-danger">No users are listed until now</th>
                            {% endif %}
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <ul class="pagination">
                    {% if user_list.has_previous %}
                        <li>
                            <span>
                                <a href="{% relative_url user_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ user_list.number }} of {{ user_list.paginator.num_pages }}.</span>
                    </li>
                    {% if user_list.has_next %}
                        <li>
                            <span>
                                <a href="{% relative_url user_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
<script>
        $(document).ready(function () {

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}


