{% extends 'website/base.html' %}

{% block subtitle %}
    Terms and Conditions
{% endblock %}

{% block content %}

    <section id="gallery" class="mt-5">
        <div class="container">
            <div class="row header-text text-center">
                <div class="col-lg-12">
                    <h3><span>P</span>rivacy<span> P</span>olicy</h3>
                </div>
            </div>
            <div class="row gallery-pa">
                <div class="col-lg-10 m-auto">
                    <p>
                        {% lorem 5 p %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}