{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <style>
        .parallax {
            min-height: 100vh; /* Adjust the height based on your content */
            overflow: hidden;
            position: relative;
        }

        .parallax:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            padding-bottom: 40px;
            z-index: -1;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        a:hover {
            text-decoration: underline;
        }

        .section-heading {
            font-size: 20px;
            font-weight: bold;
            margin-top: 30px;
        }

        .section-subheading {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }

        .footer {
            font-size: 14px;
            color: #888;
            margin-top: 50px;
        }

        @media (max-width: 990px) {
            .sm-not {
                display: none;
            }
        }
    </style>

    <div class="w-100 h-100 " style="position:fixed; top: 0; left: 0">

    </div>

    <div id="top" class="parallax wf-section" style="background-attachment: fixed;min-height: 100vh">

        <div class="container w-container ">
            <div class="header-row ">
                <div class="header-content-col pb-5 mb-5">
                    <h1 class="header-content-title" style="">Privacy <span class="text-white bg-primary"
                                                                            style=";">Policy&nbsp</span>
                    </h1>
                    <b>Last Updated: June 27, 2023</b>
                    <h1>PRIVACY POLICY</h1>
                    <p>This Privacy Policy (“Policy”) governs the manner in which Meedgo Healthtech Private Limited
                        collects, uses, maintains and discloses information collected from its users or visitors (each
                        referred to as a "User") through its website(s), mobile applications, devices, products,
                        services, and online marketplace (hereinafter collectively referred to as the “Platform”).</p>

                    <h2 id="section1">DEFINITIONS</h2>
                    <p>The following definitions apply to this Privacy Policy:</p>
                    <ul>
                        <li>"Meedgo" or "Company" or "We" or "Us" or "Our" refers to Meedgo Healthtech Private Limited,
                            a company registered as per the laws of India.
                        </li>
                        <li>"Website" refers to our website located at <a href="https://www.meedgo.com">https://www.meedgo.com</a>.
                        </li>
                        <li>"App" refers to the Meedgo mobile application and its related sub-domains and sites owned
                            and operated by Meedgo, including sites created for pharmacists.
                        </li>
                        <li>"Platform" refers to the collective reference made to the Website, the App, devices,
                            products, services, and online marketplace of Meedgo.
                        </li>
                        <li>"User" or "Visitor" or "You" or "Your" refers to any person accessing our Website or App or
                            Platform, irrespective of their registration status on our Platform.
                        </li>
                        <li>"Person" refers to any natural person, limited or unlimited liability company, corporation,
                            partnership (whether limited or unlimited), proprietorship, Hindu undivided family, trust,
                            union, association, government or any agency or political subdivision thereof, or any other
                            entity that may be treated as a Person under Applicable Law.
                        </li>
                        <li>"Services" refer to the services and products listed on the Meedgo Pharmacist App, including
                            accepting delivery orders for pharmaceutical drugs, nutraceuticals, and over-the-counter
                            (OTC) products, facilitating diagnostic tests, telemedicine and consultation, and any other
                            products ordered by the users of the Meedgo App. It also includes connecting with users of
                            the Meedgo App, purchasing products from distributors or brand associates, and availing
                            personal or business loans and finance services, among others.
                        </li>
                        <li>"Pharmacist" refers to retail chemists, pharmacies, medical stores, or general retailers who
                            access the Meedgo Pharmacy App for the facilitation of services offered by the Meedgo App,
                            including selling medicines and wellness products.
                        </li>
                        <li>"Medical Practitioner(s)" refers to persons who are registered medical practitioners
                            enrolled in the State Medical Register or the Indian Medical Register under the Indian
                            Medical Council Act 1956.
                        </li>
                        <li>"Healthcare Professional(s)" refers to persons working in the healthcare industry, such as
                            medical professionals, doctors, mental health advisors, dieticians, fitness experts, lab
                            assistants, technicians, and diagnostic center staff, who aid in the facilitation of
                            services offered by the Meedgo App.
                        </li>
                        <li>"Distributor(s)" refers to persons with whom we have partnered for the facilitation of our
                            services, such as the purchase of bulk medicines and wellness products.
                        </li>
                        <li>"Brand Associates" refers to persons who sell branded products and with whom we have
                            partnered for the facilitation of our services, such as the purchase of bulk medicines and
                            wellness products from a specific brand.
                        </li>
                        <li>"Financial Institutes" refers to persons such as banks or NBFCs with whom we have partnered
                            for the facilitation of our services, such as availing loans and financial services.
                        </li>
                        <li>"Service Providers" refers to trusted third-party service providers (other than Distributors
                            or Brand Associates or Financial Institutes) who assist and help us in the facilitation of
                            our services, such as payment gateways, cloud servers, business partners, agents, trusted
                            affiliates, and advertisers, among others.
                        </li>
                        <li>"Channel Partner(s)" refers to persons appointed or partnered by Meedgo to facilitate the
                            performance of the services provided on the Platform, including but not limited to
                            Distributors, Brand Associates, Financial Institutes, and other Service Providers as
                            appointed by Meedgo.
                        </li>
                        <li>"Telemedicine" refers to the delivery of healthcare services by all healthcare professionals
                            using information and communication technologies and our Platform for the exchange of valid
                            information for diagnosis, treatment, and prevention of diseases and injuries, research and
                            evaluation, all in the interests of advancing the health of individuals.
                        </li>
                        <li>"User Data" collectively refers to Personal Information, Sensitive Personal Data or
                            Information, and Non-Personal Information of a User, as described in detail in this Policy.
                        </li>
                    </ul>
                    <h2 id="section2">GENERAL DISCLAIMER</h2>
                    <p>This Privacy Policy applies to all the products and services offered on our Platform and
                        describes what information of Meedgo Healthcare Solutions Private Limited, as the operator of
                        the Platform and, as owner of the Platform, may collect from a User, on or through our website
                        or mobile applications, including but not limited to the Meedgo Pharmacist app, directly or in
                        relation to the Services otherwise rendered by Us, including Our facilitation through the
                        Platform, for Our Services and how We use, process, disclose and try to protect such
                        information.</p>

                    <p>You agree and understand that Meedgo is responsible for operation and maintenance of the Platform
                        and all information collected and processed on the Platform is collected and processed by Us
                        strictly in relation to Our business.</p>
                    <p>By using Our Platform, or the Services, You confirm that You have read, understood, and agree
                        with the privacy practices as described in this Privacy Policy, and the Terms of Use (the
                        “Terms”) and the collection, storage and processing of Your information in accordance with
                        them.</p>
                    <p>This Privacy Policy is incorporated by reference into the Terms. Any capitalized terms used but
                        not defined in this Privacy Policy have the meaning given to them in the Terms. Any words
                        importing singular shall include plural and vice versa and the headings are for convenience or
                        reference only and shall not be used in and shall not affect the construction or interpretation
                        of this Policy.</p>
                    <p>This Privacy Policy is published in compliance with, inter alia:</p>
                    <ul>
                        <li>Section 43A of the Information Technology Act, 2000 (“IT Act”);</li>
                        <li>Rule 4 of the Information Technology (Reasonable Security Practices and Procedures and
                            Sensitive Personal Information) Rules, 2011 (“SPDI Rules”); and
                        </li>
                        <li>Regulation 3(1) of the Information Technology (Intermediaries Guidelines and Digital Media
                            Ethics Code) Rules, 2021 (“Intermediaries Guidelines”).
                        </li>
                    </ul>
                    <h2 id="section3">INFORMATION COLLECTED BY US</h2>
                    <p>During your use of this Platform, we collect certain personal identification information from you
                        in a variety of ways, including, but not limited to, when you visit our Platform, register on
                        the Platform, respond to a survey, fill out a form, and in connection with other activities,
                        services, features or resources we make available on our Platform. This information may be of
                        the following nature:-</p>
                    <p>“Personal Information” is that information which can be used to directly or indirectly identify
                        you. It includes de-identified data that, when linked to other information available to us,
                        would enable us to identify you. Personal Information does not include data that has been
                        irreversibly anonymized or aggregated so that we cannot identify you through it, even in
                        conjunction with other information.</p>
                    <p>“Sensitive Personal Data or Information” (“SPDI”) means Personal Information of any individual
                        relating to password; financial information such as bank account or credit card or debit card or
                        other payment instrument details; physical, physiological and mental health condition; sexual
                        orientation; medical records and history; biometric information; any detail relating to the
                        above as provided to or received by MedCords for processing or storage.</p>
                    <p>We may also collect other Sensitive Personal Data or Information about You when you use Our
                        Services on the Platform. This information includes health information we receive from You or,
                        on Your behalf, such as information or records relating to your medical or health history,
                        health status and laboratory testing results, details of medical practitioner issuing the
                        prescription, details of treatment plans and medication prescribed by a Medical Practitioner,
                        dosage details such as frequency of dosage, alternative medication, medicines ordered by You
                        through the Platform, diagnostic results, other health-related information and any other
                        information inferred there from. We may also collect payment information such as Your payment
                        card number, expiration date, billing and shipping address.</p>
                    <p>We may also store and process medical prescriptions, treatment notes, recommendations and other
                        data generated by Medical Practitioners and Healthcare Professionals; on or through the
                        Platform, and data shared by third parties such as diagnostics related information; prescription
                        related information etc maybe retained on our records for the duration of you availing the
                        Services or for any such period required or permitted under applicable law. However, any data/
                        information relating to an individual that is freely available or accessible in public domain or
                        furnished under the Right to Information Act, 2005 or any other law shall not qualify as
                        Sensitive Personal Data or Information.</p>
                    <p>We receive and store any information you enter on Our Platform or provide us in any other way.
                        When you register on the Platform, we collect registration details such as phone number, name,
                        geographical address and email address. We verify your phone number with the help of a one-time
                        password sent to your phone number.</p>
                    <p>We may also collect information required for providing you Services on the Platform including,
                        items you place in the cart, pharmaceutical, nutraceutical products including prescription drugs
                        or over the counter (OTC) products you may order, facilitating booking a consultation with a
                        Medical Practitioner, running diagnostic tests, etc. Further, we may also access and collect
                        User interactions with our Channel Partners.</p>
                    <p>Further, we may also receive your corporate or business details like business registration
                        licenses, personal identification documents, drug licence details, your sale and purchase
                        history through our Platform, information related to your loan requests, any other financial
                        information as provided by you on the Platform, and your interactions with the users of Meedgo
                        app.</p>
                    <p>We will collect personal identification information from Users only if they voluntarily submit
                        such information to us. Users can always refuse to supply personally identification information,
                        except that it may prevent them from engaging in certain Platform related activities.</p>
                    <h2 id="section4">NON-PERSONAL IDENTIFICATION INFORMATION</h2>
                    <p>We may collect Non-Personal Identification Information about Users whenever they interact with
                        our Platform. Non-Personal Identification Information may include the browser name, the type of
                        device and technical information about Users means of connection to our Platform, such as the
                        operating system and the Internet service providers utilized and other similar information.</p>
                    <h2 id="section5">APP PERMISSIONS</h2>
                    <p>We may ask for the following app permissions from your device while you use or register on the
                        Platform;</p>
                    <ul>
                        <li>Location - It is recommended that you set your location sharing 'Always' as it helps us to
                            show you location specific data like availability of Services at your geographical area.
                            This can be changed anytime in your device settings.
                        </li>
                        <li>Camera - This helps us take a picture of You for photo identification and any document for
                            directly uploading it to the App.
                        </li>
                        <li>Gallery/Photos/Media/Files - This access permission is needed to store and retrieve your
                            uploads such as photo identifications, any document uploads, etc on your device.
                        </li>
                        <li>Contacts/Call - This helps in assisting you with sharing content from our Platform to your
                            contacts, make calls to Channel Partners, etc.
                        </li>
                        <li>SMS/Receive SMS - This supports automatic OTP confirmation, so that you don't have to enter
                            the authentication code manually and for us to send you payment related SMS confirmations.
                        </li>
                        <li>Access Wifi State - This helps us to optimize your experience based on the WiFi’s strength
                            and signals.
                        </li>
                        <li>Mic/Record Audio/ Bluetooth - This helps to enable video consultations with users of Meedgo
                            app.
                        </li>
                        <li>Push Notifications - This helps us to ensure that you receive instant updates about your
                            orders, delivery time, our Services, etc.
                        </li>
                    </ul>
                    <h2 id="section6">USE OF COOKIES</h2>
                    <p>Our Platform may use "cookies" to enhance User experience. User's web browser places cookies on
                        their device for record-keeping purposes and sometimes to track information about them. User may
                        choose to set their web browser to refuse cookies, or to alert you when cookies are being sent.
                        If they do so, note that some parts of the Platform may not function properly.</p>
                    <p>Kindly refer to our Cookies Policy separately for more information on how we use cookies.</p>
                    <h2 id="section7">HOW WE USE COLLECTED INFORMATION</h2>
                    <p>Meedgo may collect and use User Data for the following purposes:</p>
                    <ul>
                        <li>To improve customer service: Information you provide helps us respond to your customer
                            service requests and support needs more efficiently.
                        </li>
                        <li>To personalize user experience: We may use information in the aggregate to understand how
                            our Users as a group use the services and resources provided on our Platform.
                        </li>
                        <li>To improve our Platform: We may use feedback you provide to improve our products and
                            services.
                        </li>
                        <li>To process payments: We may use the information Users provide about themselves when placing
                            an order only to provide service to that order. We do not share this information with
                            outside parties except to the extent necessary to provide the service.
                        </li>
                        <li>To run a promotion, contest, survey, offers or other Platform feature.</li>
                        <li>To send Users information they agreed to receive about topics we think will be of interest
                            to them.
                        </li>
                        <li>To send periodic emails: We may use the email address to send User information and updates
                            pertaining to their order. It may also be used to respond to their inquiries, questions,
                            and/or other requests. If User decides to opt-in to our mailing list, they will receive
                            emails that may include company news, updates, related product or service information, etc.
                            If at any time the User would like to unsubscribe from receiving future emails, they may do
                            so by contacting us via our Platform.
                        </li>
                    </ul>
                    <h2 id="section8">HOW WE PROTECT INFORMATION</h2>
                    <p>It is of utmost importance to us that any information or data related to You is securely stored,
                        in lines with the applicable laws of land. User Data is contained within secured cloud networks
                        of a third party Service Provider in an electronic form and is only accessible by a limited
                        number of authorized persons who have access rights to such systems or otherwise require such
                        information for the purposes provided in this Privacy Policy. Such User Data may also be
                        converted to physical form from time to time. Meedgo takes all necessary precautions to protect
                        your User Data both online and offline, and implements reasonable security practices and
                        measures including certain managerial, technical, operational and physical security control
                        measures that are commensurate with respect to the information being collected and the nature of
                        Meedgo business. To protect the security of User Data during transmission, we use all the latest
                        technical data security measures to prevent any breach of data.</p>
                    <p>No administrator or employee or staff at Meedgo will have knowledge of your password. It is
                        important for you to protect against unauthorised access to your account, password, and device.
                        Be sure to log off from the Platform when finished. Meedgo does not undertake any liability for
                        any unauthorised use of your account and password. If you suspect any unauthorised use of your
                        account, you must immediately notify Meedgo by sending an email to our contact email id. You
                        shall be liable to indemnify Meedgo due to any loss suffered by it due to such unauthorised use
                        of your account, password and device.</p>
                    <h2 id="section9">SHARING YOUR PERSONAL INFORMATION</h2>
                    <p>We do not sell, trade, or rent Users personal identification information to others. We may share
                        generic aggregated demographic information not linked to any personal identification information
                        regarding Users with our business partners, trusted affiliates and advertisers for the purposes
                        outlined above.</p>
                    <p>We may use third-party service providers to help us operate our business and the Platform or
                        administer activities on our behalf, such as sending out newsletters or surveys. We may share
                        your information with these third parties for those limited purposes provided that you have
                        given us your permission.</p>
                    <h2 id="section10">COMPLIANCE WITH CHILDREN'S ONLINE PRIVACY PROTECTION ACT</h2>
                    <p>Protecting the privacy of the very young is especially important. For that reason, we never
                        collect or maintain information at our Platform from those we actually know are under 13, and no
                        part of our Platform is structured to attract anyone under 13.</p>
                    <h2 id="section11">CHANGES TO THIS PRIVACY POLICY</h2>
                    <p>Meedgo has the discretion to update this privacy policy at any time. When we do, we will revise
                        the updated date at the bottom of this page. We encourage Users to frequently check this page
                        for any changes to stay informed about how we are helping to protect the personal information we
                        collect. You acknowledge and agree that it is your responsibility to review this privacy policy
                        periodically and become aware of modifications.</p>
                    <h2 id="section12">YOUR ACCEPTANCE OF THESE TERMS</h2>
                    <p>By using this Platform, you signify your acceptance of this policy. If you do not agree to this
                        policy, please do not use our Platform. Your continued use of the Platform following the posting
                        of changes to this policy will be deemed your acceptance of those changes.</p>
                    <h2 id="section13">OPT-OUT AND CONTACTING US</h2>
                    <p>You may communicate your objection to our continual use and/or disclosure of your Personal
                        Information and SPDI for any of the purposes and in the manner as stated above at any time by
                        contacting us at the details indicated below.</p>
                    <p>If you do not wish for us to continue using your information, and/or disclose your Personal
                        Information and SPDI for any of the purposes and in the manner as stated above at any time, you
                        may opt out of providing the same by contacting us at the details indicated below.</p>
                    <p>If you have any questions about this Privacy Policy, the practices of this Platform, or your
                        dealings with this Platform, please contact us at:</p>
                    <p>Meedgo Healthtech Private Limited<br>
                        807 civil lines<br>
                        Jhansi, Uttar Pradesh - 284001<br>
                        Email ID: care@meedgo.com<br>
                        Meedgo Helpline:</p>
                    <h2 id="section14">GRIEVANCE REDRESSAL MECHANISM</h2>
                    <p>In accordance with the Information Technology Act, 2000 and Rules made thereunder, the name and
                        contact details of the Grievance Officer are provided below:</p>
                    <p>Name: Khuram<br>
                        Address: Jhansi, Uttar Pradesh, 284001<br>
                        Cell: [Cell number]<br>
                        Email: vipin.verma@medcords.com</p>
                    <p>For registering your complaint, please write to the Grievance Officer at the above-mentioned
                        email address in relation to any violation of this Policy or the Information Technology
                        (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021. The Grievance Officer shall
                        redress the complaint in accordance with the provisions of the Information Technology Act, 2000
                        and Rules made thereunder.</p>
                    <h2 id="section15">SEVERABILITY</h2>
                    <p>In the event that any provision and/or clause and/or term of this Policy is found to be invalid,
                        void and unenforceable by a Court of any competent jurisdiction, then the remaining provisions
                        will remain in force in accordance with the original intention of Meedgo.</p>
                    <h2 id="section16">GOVERNING LAW AND DISPUTE RESOLUTION</h2>
                    <p>This Policy shall be governed by and interpreted and construed in accordance with the laws of
                        India. The place of jurisdiction shall exclusively be in Jhansi, Uttar Pradesh. In the event of
                        any dispute arising out of this Policy, the same shall be settled by a binding arbitration
                        conducted by a sole arbitrator, appointed jointly by both parties and governed by the
                        Arbitration and Conciliation Act, 1996, in accordance with their Arbitration Rules. The arbitral
                        award will be final and binding upon the Parties. The seat and venue of arbitration shall be
                        Jhansi, Uttar Pradesh. The Parties can also opt to resolve the dispute(s) in order to reach an
                        amicable resolution through online mode via ODR/ Zoom/ Google Meet platform.</p>

                </div>
                <div class=" sm-not header-content-col p-3 ml-5 "
                     style="border-left: 1px solid rebeccapurple; max-width: 40%; position: fixed;right:5%;top: 8%;">
                    <h1 style="font-size: 45px"><span
                            class="bg-primary text-white">Table of&nbsp</span>Content</h1>
                    <table class="table table-borderless table-sm">
                        <tbody>
                        <tr>
                            <th scope="row"><a href="#section1" class="text-dark">1. DEFINITIONS</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section2" class="text-dark">2. GENERAL DISCLAIMER</a></th>
                        </tr>

                        <tr>
                            <th scope="row"><a href="#section3" class="text-dark">3. INFORMATION COLLECTED BY US</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section4" class="text-dark">4. NON-PERSONAL IDENTIFICATION INFORMATION
                                RIGHTS</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section5" class="text-dark">5. APP PERMISSIONS</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section6" class="text-dark">6. USE OF COOKIES</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section7" class="text-dark">7. HOW WE USE COLLECTED INFORMATION</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section8" class="text-dark">8. HOW WE PROTECT INFORMATION</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section9" class="text-dark">9. SHARING YOUR PERSONAL INFORMATION</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section10" class="text-dark">10. COMPLIANCE WITH CHILDREN'S ONLINE PRIVACY PROTECTION ACT</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section11" class="text-dark">11. CHANGES TO THIS PRIVACY POLICY</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section12" class="text-dark">12. YOUR ACCEPTANCE OF THESE TERMS</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section13" class="text-dark">13. OPT-OUT AND CONTACTING US</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section14" class="text-dark">14. GRIEVANCE REDRESSAL MECHANISM</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section15" class="text-dark">15. SEVERABILITY</a></th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section16" class="text-dark">16. GOVERNING LAW AND DISPUTE RESOLUTION</a></th>
                        </tr>

                        </tbody>
                    </table>
                    <ul>


                    </ul>
                </div>

            </div>
        </div>
    </div>

    <script>
        document.addEventListener("scroll", function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            var parallaxElement = document.querySelector(".parallax");
            parallaxElement.style.backgroundPositionY = -scrollTop * 0.1 + "px";
        });
    </script>

{% endblock %}
