{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <style>
        .parallax {
            min-height: 100vh; /* Adjust the height based on your content */
            overflow: hidden;
            position: relative;
        }

        .parallax:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            padding-bottom: 40px;
            z-index: -1;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        a:hover {
            text-decoration: underline;
        }

        .section-heading {
            font-size: 20px;
            font-weight: bold;
            margin-top: 30px;
        }

        .section-subheading {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }

        .footer {
            font-size: 14px;
            color: #888;
            margin-top: 50px;
        }

        @media (max-width: 990px) {
            .sm-not {
                display: none;
            }
        }
    </style>

    <div class="w-100 h-100 " style="position:fixed; top: 0; left: 0">

    </div>

    <div id="top" class="parallax wf-section" style="background-attachment: fixed;min-height: 100vh">

        <div class="container w-container ">
            <div class="header-row ">
                <div class="header-content-col pb-5 mb-5">
                    <h1 class="" style="font-size: 35px">Return, Refund and <span class="text-white bg-primary"
                                                                                       style=";">Cancellation Policy&nbsp</span>
                    </h1>
                    <b>Last Updated: June 27, 2023</b>

                    <h2 id="section1">Returns</h2>
                    <p>Initiation: To initiate a return, simply inform the pharmacy representative delivering the
                        product at the time of receipt. They will assist you with the return process.</p>
                    <p>Condition: The returned item must be in its original packaging, unused, and in the same condition
                        as when you received it. Please ensure that all tags, labels, and accessories are intact.</p>
                    <p>Timeframe: You have the option to return the item immediately upon checking it with the pharmacy
                        representative during delivery.</p>

                    <h2 id="section2">Refunds</h2>
                    <p>Payment Mode: If you made the payment using an online mode of payment, such as credit/debit card
                        or net banking, you will be refunded directly to your bank account. Refunds may take up to 72
                        hours to reflect in your account, subject to the terms and conditions outlined below.</p>
                    <p>Terms and Conditions: Please note that refund processing time may vary depending on your bank and
                        payment gateway. Additionally, the refund will be processed only after the returned item has
                        been received and verified by the pharmacy.</p>

                    <h2 id="section3">Cancellation</h2>
                    <p>To cancel your order, simply access your order history and click on the cancel icon.
                        Alternatively, you can contact our customer support team at <a href="mailto:care@meedgo.com">care@meedgo.com</a>
                        and provide them with your order details. Our dedicated team will promptly assist you in the
                        cancellation process, ensuring a smooth and hassle-free experience.</p>

                    <h2 id="section4">Important Notes</h2>
                    <p>Non-Returnable Items: Some products, such as software or undergarments, may not be eligible for
                        return due to hygiene or licensing reasons. Please check the product description for any
                        specific return limitations.</p>
                    <p>Return Shipping Costs: Meedgo covers the return shipping costs, ensuring a hassle-free return
                        process for our customers.</p>
                    <p>Restocking Fees: We do not impose any restocking fees on returns. Your refund will be processed
                        for the full amount paid, excluding any applicable shipping charges.</p>

                    <p>We encourage you to review this policy carefully before making a purchase from Meedgo. If you
                        have any further questions or require assistance regarding returns, refunds, or cancellations,
                        our dedicated customer support team is here to assist you.</p>

                    <p>Please note that this policy is subject to change without prior notice. The most recent version
                        will always be available on our website.</p>

                </div>
                <div class=" sm-not header-content-col p-3 ml-5 "
                     style="border-left: 1px solid rebeccapurple; max-width: 40%; position: fixed;right:5%;top: 25%;">
                    <h1 style="font-size: 45px"><span
                            class="bg-primary text-white">Table of&nbsp</span>Content</h1>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <th scope="row"><a href="#section1" class="text-dark">1. Returns</a></th>
                        </tr>

                        <tr>
                            <th scope="row"><a href="#section2" class="text-dark">2. Refunds</a></th>
                        </tr>

                        <tr>
                            <th scope="row"><a href="#section3" class="text-dark">3. Cancellation</a>
                            </th>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#section4" class="text-dark">4. Important Notes</a></th>
                        </tr>

                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>

    <script>
        document.addEventListener("scroll", function () {
            var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            var parallaxElement = document.querySelector(".parallax");
            parallaxElement.style.backgroundPositionY = -scrollTop * 0.1 + "px";
        });
    </script>

{% endblock %}
