<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            All rights reserved copyright 2020 - 2021 © <a
                href="https://www.bootstrapdash.com/"
                target="_blank"></a>TASKTOK</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            Developed by <a href="https://www.exarth.com/" target="_blank">exarth</a>
        </span>
    </div>
</footer>