{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      {% block title %}
          ADMIN |
          {% block subtitle %}
          {% endblock subtitle%}
      {% endblock title %}
  </title>

  <link rel="stylesheet" href="{% static 'administration/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'administration/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'administration/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'administration/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'administration/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'administration/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'administration/css/vertical-layout-light/style.css' %}">
  <link rel="shortcut icon" href="{% static 'website/img/tasktok-favicon.png' %}" />

</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            {% block content %}

            {% endblock content %}
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <script src="{% static 'administration/vendors/js/vendor.bundle.base.js' %}"></script>
  <script src="{% static 'administration/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'administration/js/off-canvas.js' %}"></script>
  <script src="{% static 'administration/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'administration/js/template.js' %}"></script>
  <script src="{% static 'administration/js/settings.js' %}"></script>
  <script src="{% static 'administration/js/todolist.js' %}"></script>
</body>

</html>